.section-doubletitle h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #0f2f5781;
  font-family: "Poppins", sans-serif;
  padding-top: 30px;
  padding-left: 50px;
}

.section-doubletitle p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #0f2f57;
  padding-left: 30px;
}

.section-doubletitle h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #0d85d8;
  margin: 4px 10px;
}
