.icon-box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #fff;
}

.icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
  background: #dfeeff;
}

.icon i {
  font-size: 36px;
  line-height: 1;
  color: #2759ff;
}

.boxTitle {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
}

.boxTitle::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 1px;
  background: #0d85d8;
  left: calc(50% - 12.5px);
}

.icon-box:hover .boxTitle {
  color: #2759ff;
}

.description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}

.icon-box:hover {
  border-color: #2759ff;
}
