.navbarItem a {
  font-weight: bold;
  font-family: sans-serif;
  color: black;
  position: relative;
}

.navbarItem a:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: white;
}

.navbarItem a:hover,
.navbarItem a:active {
  color: white;
  position: relative;
}

.navbar {
  background-color: #2597f4;
  border-bottom: 2px solid black;
}
